* {
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
}

.canvas  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    height: 800px;
    background-color: white;
}

.canvas>div {
    height: auto;
    flex: 1 0 auto;
    /* make columns vertical flexboxes */
    display: flex;
    flex-direction: column;
  }
  
  .canvas>div>* {
    /* make boxes evenly distributed */
    flex: 1;
  }

  .gridBox {
    border: 1px solid black;
  }

  .black {
    background-color: black;
  }